<div id="listar-servidores" v-cloak>
  
  <form id="formListarServidores" action="/servidor">
    <input type="hidden" name="regSendoEditado" id="regSendoEditado">
  </form>
  <div class="table-responsive col-md-8">
  <table class="table table-striped" cellspacing="0" cellpadding="0">
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Secretaria</th>
      <th>Cargo</th>
      <th colspan="2"></th>
    </tr>
    
    <% _.each(servidores, function (servidor) { %>
      <tr>
        <td><%= servidor.matricula %></td>
        <td><%= servidor.nome %></td>
        <td><%= servidor.Secretaria?servidor.Secretaria.nome:'nenhum' %></td>
        <td><%= servidor.Cargo?servidor.Cargo.nome:'nenhum' %></td>
        <td class="actions">
          <a class="btn btn-success btn-xs" href="view.html" >Visualizar</a>
          <a class="btn btn-warning btn-xs" onclick="exibirEdicaoDoServidor('<%= servidor.matricula %>')">Editar</a>
          <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
      </td> 
        <tr>
    <% }) %>
    
  </table>
  </div>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
